body {
    margin: 0px;
    text-align: center;
    font-family: "Merriweather", serif;

}

h1 {
    margin: 0;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66bfbf;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;

}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999e;
}


.top-container {
    background-color: #e4f9f5;
}


img {
    height: 100px;
    width: 100px;
}

.mountain {
    height: 300px;
    width: 500px;
}

.second {
    position: relative;
    bottom: 250px;
    left: 50px;
}

.first {
    position: relative;
    left: 130px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.front {
    width: ;
    float: left;
    margin-right: 30px;
    margin-bottom: 90px;
}

.back {
    float: right;
    margin-left: 30px;
    margin-bottom: 90px;
}

hr {
    border: dotted #9ba5a5 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.contact-me {
    line-height: 2;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a {
    color: #11999e;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
}